.add h3{
    margin-bottom: 40px;
    padding-bottom: 5px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}
.add_form{
    width: 500px;
}
.subBtn{
    position: absolute;
    left: -90px;
}